.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*
primary: Blue: hsl(223, 87%, 63%)
 
Second: - Pale Blue:  hsl(223, 100%, 88%)
- Light Red: hsl(354, 100%, 66%)

Neutral: 
- Gray: hsl(0, 0%, 59%)
- Very Dark Blue: hsl(209, 33%, 12%) */

body {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-wrapper {
  width: 50%;
}

h3 {
  font-weight: 700 !important;
}

.header {
  width: 100%;
}

h1 {
  font-weight: 600 !important;
}

.launching {
  font-weight: 300;
}

img {
  width: 100%;
}

.blue {
  color: hsl(223, 87%, 63%);
}

input {
  border-radius: 9999px !important;
  display: inline-block;
}

.email-input {
  width: 65% !important;
  padding-left: 1.25em !important;
}

.email-input::placeholder {
  color: hsl(223, 100%, 88%);
}

input:hover,
input:active,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border-color: hsl(223, 100%, 88%) !important;
}

.notify-me:hover,
.notify-me:active,
.notify-me:focus {
  cursor: pointer;
  background-color: rgb(113, 149, 245) !important;
}

.error-border {
  border-color: hsl(354, 100%, 66%) !important;
}

.error-message {
  color: hsl(354, 100%, 66%);
  text-align: left;
  padding-left: 1.25em !important;
  font-style: italic !important;
}

.notify-me {
  background-color: hsl(223, 87%, 63%) !important;
  color: white !important;
  width: 33% !important;
  box-shadow: 0px 5px 5px 0px hsl(223, 100%, 88%);
}

.hidden {
  display: none;
}

.icons {
  color: hsl(223, 87%, 63%);
}

.border-circular {
  border: 0.05em;
  border-color: #f3f4f6;
  border-radius: 50%;
  border-style: solid;
  padding: 0.5em;
}
